<template>
    <div class="bg-image" style="background-image: url('assets/media/photos/photo8@2x.jpg');">
        <div class="bg-black-50">
            <div class="content content-full text-center">
                <div class="my-3">
                    <img class="img-avatar img-avatar-thumb" v-bind:src="avatar" v-bind:alt="fullname">
                </div>
                <h1 class="h2 text-white mb-0">{{fullname}}</h1>
                <span class="text-white-75">{{accountType}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HeadAvatar",
        props: {
            fullname: '',
            accountType: '',
            avatar: ''
        }
    }
</script>

<style scoped>

</style>