<template>
    <div class="bg-image overflow-hidden">
        <div :class="bgcolor">
            <div class="content content-narrow content-full">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center mt-5 mb-2 text-center text-sm-left">
                    <div class="flex-sm-fill">
                        <h1 class="font-w600 text-white mb-0 js-appear-enabled animated fadeIn" data-toggle="appear">{{pageTitle}}</h1>
                        <h2 class="h4 font-w400 text-white-75 mb-0 js-appear-enabled animated fadeIn" data-toggle="appear" data-timeout="250">
                            <slot></slot></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Headbg",
        props: {
            pageTitle: '',
            bgcolor: ''
        }
    }
</script>

<style scoped>

</style>