<template>
    <div class="modal" id="modal-block-normal" tabindex="-1" role="dialog" aria-labelledby="modal-block-normal" style="display: none;" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="block block-themed block-transparent mb-0">
                    <div class="block-header bg-primary-dark">
                        <!--<h3 class="block-title">Modal Title</h3>-->
                        <slot name="header"></slot>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content font-size-sm">
                        <slot name="content"></slot>
                    </div>
                    <div class="block-content block-content-full text-right border-top">
                        <slot name="footer"></slot>
                        <!--<button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Close</button>-->
                        <!--<button type="button" class="btn btn-sm btn-primary" data-dismiss="modal"><i class="fa fa-check mr-1"></i>Ok</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Modal",
        methods: {
            toggleModal: function() {
                let element = this.$refs.modal.$el
                $(element).modal('show')
            }
        }
    }
</script>

<style scoped>

</style>