<template>
    <form>
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">UPGRADE ACCOUNT NOW</h3>
                <div class="block-options">
                    <button @click="btnSubmit(accountId)" type="button" class="btn btn-sm btn-primary">
                        Upgrade
                    </button>
                </div>
            </div>
            <div class="block-content">
                <div class="form-group">
                    <label for="example-select">Select a package</label>
                    <select class="form-control" id="example-select" v-model="form.packageType">
                        <option value="0">Please select</option>
                        <option v-if="business" value="BP">Business Package</option>
                        <option v-if="advance" value="AP">Advance Package</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "AccountUpgrade",
        props: {
            btnLabel: null,
            accountId: null,
            starter: false,
            business: false,
            advance: false,
        },
        data() {
            return {
                form: new Form({
                    packageType: 0
                })
            }
        },
        methods: {
            btnSubmit: function(accountId) {

                this.$swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, upgrade it!'
                }).then((result) => {
                    if (result.value) {
                        // axios.post('/api/accounts/upgrade/' + accountId)
                        //     .then(({data}) => {
                        //
                        //         this.$swal.fire(
                        //             'Great!',
                        //             data.message,
                        //             'success'
                        //         ).then((e) => {
                        //             window.location.href = '/accounts';
                        //         });
                        //
                        //     });

                        this.form.post('/api/accounts/upgrade/' + accountId)
                            .then(({data}) => {

                                this.$swal.fire(
                                    'Great!',
                                    data.message,
                                    'success'
                                ).then((e) => {
                                    window.location.href = '/accounts';
                                });

                            });

                    }
                })

            }
        }

    }
</script>