<template>
    <form class="mb-5" action="be_forms_layouts.html" method="POST" onsubmit="return false;">
        <div class="form-group">
            <div class="input-group">
                <input type="referral-code" class="form-control" id="referral-code" name="referral-code" v-model="sponsorUrl"  />
                <div class="input-group-append">
                    <button type="button" class="btn btn-dark" v-clipboard="sponsorUrl" v-clipboard:success="clipboardSuccessHandler">COPY</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "Clipboard",
        props: {
            sponsorUrl: '',
        },
        methods: {
            clipboardSuccessHandler: function() {
                alert('Copied to clipboard!');
            }
        }
    }
</script>

<style scoped>

</style>