<template>
    <div class="col-xl-12">
        <div class="block">
            <div class="block-content">
                <table class="table table-vcenter">
                    <thead class="thead-light">
                    <tr>
                        <th class="">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="items.length < 1">
                        <td colspan="4" class="text-center">No records found</td>
                    </tr>
                    <tr v-for="follower in items" :key="follower.id">
                        <td class="font-w600 font-size-sm">

                            <a href="javascript:void(0)" class="media py-3">
                                <div class="mr-3 ml-2 overlay-container overlay-bottom">
                                    <img v-bind:src="follower.avatar" alt="" class="img-avatar img-avatar48">
                                </div>
                                <div class="media-body">
                                    <div class="font-w600">{{ follower.firstname }} {{ follower.lastname }}</div>
                                    <div class="font-size-sm text-muted">
                                        <span class="font-size-sm">Followed since {{follower.created_at | datePretty}}</span>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Followers",
        props: {
            followers: {}
        },
        data() {
            return {
                items: {},
            }
        },
        mounted() {
            this.items = JSON.parse(this.followers);
            console.log(this.items);
        }
    }
</script>

<style scoped>

</style>