<template>
    <div class="col-md-12">
        <a href="/accounts/edit/{{$acct->id}}" class="btn btn-sm btn-light js-tooltip-enabled" data-toggle="tooltip" title="Edit Account Name" data-original-title="Edit Client">
            <i class="fa fa-fw fa-pencil-alt"></i>
        </a>
    </div>
</template>

<script>
    export default {
        name: "Transfer"
    }
</script>

<style scoped>

</style>