<template>
    <form @submit.prevent="submitWithdraw" @keydown="form.onKeydown($event)">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">WITHDRAW</h3>
                <div class="block-options">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Submit
                    </button>
                </div>
            </div>
            <div class="block-content">
                <div class="row justify-content-center py-sm-3 py-md-5">
                    <div class="col-sm-10 col-md-8">
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input v-model="form.amount" type="number" :class="{ 'is-invalid': form.errors.has('amount') }" class="form-control form-control-alt" id="amount" name="amount">
                            <has-error :form="form" field="amount"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="admin">Tax Fee</label>
                            <input readonly type="text" class="form-control form-control-alt" v-bind:value="tax_percent">
                            <input v-model="form.tax" readonly type="hidden" class="form-control form-control-alt" id="admin" name="tax">
                        </div>
                        <div class="form-group">
                            <label for="processing">Processing Fee</label>
                            <input v-model="form.fee" readonly type="number" class="form-control form-control-alt" id="processing" name="fee">
                        </div>
                        <div class="form-group">
                            <label for="total">Total</label>
                            <input v-model="total" readonly type="number" class="form-control form-control-alt" id="total" name="total">
                        </div>
                        <div class="form-group">
                            <label for="remittance_service">Remittance Service</label>
                            <select v-model="form.remittance_service" class="form-control" id="remittance_service" name="remittance_service">
                                <option value="Cebuana Lhuillier">Cebuana Lhuillier</option>
                                <option value="MLhuillier">MLhuillier </option>
                                <option value="Bank Deposit">Bank Deposit </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="details">Payout Details</label>
                            <textarea v-model="form.payout_details" class="form-control" id="details" name="example-textarea-input" rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "Withdraw",
        props: {
            minimum: 0.00,
            fee: 0.00,
            tax: 0.00,
        },
        mounted() {
            this.form.fee = this.fee;
            this.form.tax = this.tax;
            this.tax_percent = this.tax + '%';
        },
        data() {
            return {
                form: new Form({
                    amount: 0.00,
                    fee: 0.00,
                    fax: 0.00,
                    remittance_service: "",
                    payout_details: "",
                }),
                tax_percent: '',
            }
        },
        methods: {
            submitWithdraw: function () {

                if(this.form.amount == 0 || this.form.amount == '') return;

                if(this.form.amount < this.minimum) {
                    this.$swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'System minimum withdrawal is ₱' + this.minimum,
                    });
                    return;
                } else {
                    axios.post('/api/wallet/withdraw',this.form)
                        .then(({data}) => {
                            this.$swal.fire({
                                position: 'middle-center',
                                type: 'success',
                                title: 'Your request is now being processed.',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                window.location.href = '/wallet/transactions';
                            });
                        }).catch((error) => {
                            this.$swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Unable to complete your withdrawal request.',
                            });
                        });
                }

            }
        },
        computed: {
            total: function() {
                let cash = parseFloat(this.form.amount);
                let tax = cash / parseFloat(this.tax);
                let processing = parseFloat(this.form.fee);
                let fees = tax + processing;
                let _total = cash - fees;
                _total = parseFloat(Math.round(_total * 100) / 100).toFixed(2);
                return ((_total < 0) || (_total == "NaN")) ? 0.00 : _total;
            }
        }
    }
</script>

<style scoped>

</style>