<template>
    <div class="col-xl-12">
        <div class="block">
            <div class="block-content">
                <table class="table table-vcenter">
                    <thead class="thead-light">
                    <tr>
                        <th class="d-none d-sm-table-cell">Description</th>
                        <th class="text-center">Source</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Amount</th>
                        <th class="text-center">Transaction Date</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="withdrawals.length < 1">
                        <td colspan="5" class="text-center">No records found</td>
                    </tr>
                    <tr v-for="withdrawal in withdrawals.data" :key="withdrawal.id">
                        <td class="font-w600 font-size-sm">
                            {{ withdrawal.description }}
                        </td>
                        <td class="font-w600 font-size-sm text-center">
                            {{ withdrawal.source }}
                        </td>
                        <td class="font-w600 font-size-sm text-center">
                            {{ withdrawal.status }}
                        </td>
                        <td class="font-w600 font-size-sm text-center">
                            {{ withdrawal.amount }}
                        </td>
                        <td class="font-w600 font-size-sm text-center">
                            {{ withdrawal.created_at | datePretty }}
                        </td>
                        <td class="font-w600 font-size-sm text-center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Horizontal Primary">
                                <a v-bind:href="() => { viewDetails(withdrawal.id) }" class="btn btn-sm btn-light"><i class="fa fa-ellipsis-h"></i></a>
                                <!--<button type="button" class="btn btn-sm btn-light"><i class="fa fa-check"></i></button>-->
                                <!--<button type="button" class="btn btn-sm btn-light"><i class="fa fa-minus"></i></button>-->
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "WithdrawView",
        props: {
            withdrawalData: {},
        },
        data() {
            return {
                withdrawals: {},
            }
        },
        mounted() {
            this.loadData();
        },
        methods: {
            loadData: function () {
                this.withdrawals = JSON.parse(this.withdrawalData);
            },
            viewDetails: function(id) {
                window.location.href = "wallet/withdraw/process/" + id;
            }
        }
    }
</script>

<style scoped>

</style>