<template>
    <form v-on:submit.prevent="submitForm">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">INFO</h3>
                <div class="block-options">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Submit
                    </button>
                </div>
            </div>
            <div class="block-content">
                <div class="row justify-content-center py-sm-3 py-md-5">
                    <div class="col-sm-10 col-md-4">
                        <div class="form-group">
                            <label for="firstname">Firstname</label>
                            <input readonly v-model="me.firstname" id="firstname" type="text" class="form-control form-control-alt" name="firstname" required="" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="middlename">Middlename</label>
                            <input readonly v-model="me.middlename" id="middlename" type="text" class="form-control form-control-alt" name="middlename" required="" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Lastname</label>
                            <input readonly v-model="me.lastname" id="lastname" type="text" class="form-control form-control-alt" name="lastname" required="" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input readonly v-model="me.email" id="email" type="email" class="form-control form-control-alt" name="email" required="" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input v-model="me.phone" id="phone" type="tel" class="form-control form-control-alt" name="phone" autocomplete="off">
                        </div>

                    </div>
                    <div class="col-sm-10 col-md-4">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input v-model="me.address" id="address" type="text" class="form-control form-control-alt" name="address" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input v-model="me.city" id="city" type="text" class="form-control form-control-alt" name="city" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <input v-model="me.state" id="state" type="text" class="form-control form-control-alt" name="state" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="postal">Postal</label>
                            <input v-model="me.postal" id="postal" type="text" class="form-control form-control-alt" name="postal" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input v-model="me.country" id="country" type="text" class="form-control form-control-alt" name="country" autocomplete="off">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "AccountForm",
        props: {
            userData: {}
        },
        data() {
            return {
                me: new Form({
                    firstname: '',
                    lastname: '',
                    middlename: '',
                    email: '',
                    username: '',
                    address: '',
                    city: '',
                    country: '',
                    phone: '',
                    postal: '',
                    state: '',
                })
            }
        },
        mounted() {
            this.loadProfile();
        },
        methods: {
            submitForm: function() {
                axios.post('/api/profile/me',this.me)
                    .then(({data}) => {
                        this.$swal.fire(
                            'Good job!',
                            'Account details has been saved!',
                            'success'
                        ).then(() => {
                            window.location.href = "/profile/settings";
                        });
                    }).catch(() => {
                    this.$swal.fire(
                        'Oops!',
                        'Unable to save account details!',
                        'error'
                    ).then(() => {
                        this.loadProfile();
                    })
                });
            },
            loadProfile: function () {

                let user_data = JSON.parse(this.userData);

                this.me.firstname  = user_data.firstname;
                this.me.lastname   = user_data.lastname;
                this.me.middlename = user_data.middlename;
                this.me.email      = user_data.email;
                this.me.username   = user_data.username;
                this.me.address    = user_data.address;
                this.me.city       = user_data.city;
                this.me.country    = user_data.country;
                this.me.phone      = user_data.phone;
                this.me.postal     = user_data.postal;
                this.me.state      = user_data.state;

            }
        }
    }
</script>

<style scoped>

</style>