<template>
    <div class="row">
        <div class="col-md-12">
            <form @submit.prevent="changeName" @keydown="form.onKeydown($event)">
                <div class="block">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Change Account Name</h3>
                        <div class="block-options">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Submit
                            </button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="row justify-content-center py-sm-3 py-md-5">
                            <div class="col-sm-10 col-md-8">
                                <div class="form-group">
                                    <label>Account Name</label>
                                    <input type="text" class="form-control form-control-alt" v-model="form.name" :class="{ 'is-invalid': form.errors.has('username') }">
                                    <has-error :form="form" field="name"></has-error>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AccountEdit",
        props: {
            accountName: '',
            accountId: 0
        },
        data() {
            return {
                form: new Form({
                    name: '',
                })
            }
        },
        mounted: function() {
            this.form.name = this.accountName;
        },
        methods: {
            changeName: function() {
                axios.put('/api/accounts/' + this.accountId, this.form)
                    .then(({data}) => {

                        console.log(data);

                        this.$swal.fire(
                            'Great!',
                            'Account name has been update',
                            'success'
                        ).then((e) => {
                            window.location.href = '/accounts';
                        });
                    });
            }
        }
    }
</script>

<style scoped>

</style>