<template>
    <form v-on:submit.prevent="submitForm">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">CHANGE PASSWORD</h3>
                <div class="block-options">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Submit
                    </button>
                    <button type="reset" class="btn btn-sm btn-secondary">
                        Reset
                    </button>
                </div>
            </div>
            <div class="block-content">
                <div class="row justify-content-center py-sm-3 py-md-5">
                    <div class="col-sm-10 col-md-8">

                        <div class="form-group">
                            <label for="current_password">Current Password</label>
                            <input v-model="me.current_password" id="current_password" type="password" class="form-control form-control-alt" name="current_password">
                        </div>
                        <div class="form-group">
                            <label for="new_password">New Password</label>
                            <input v-model="me.new_password" id="new_password" type="password" class="form-control form-control-alt" name="new_password">
                        </div>
                        <div class="form-group">
                            <label for="confirm_new_password">Confirm New Password</label>
                            <input v-model="me.confirm_password" id="confirm_new_password" type="password" class="form-control form-control-alt" name="confirm_password">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "PasswordForm",
        data() {
            return {
                me: new Form({
                    current_password: '',
                    new_password: '',
                    confirm_password: '',
                })
            }
        },
        methods: {
            submitForm: function() {
                axios.put('/api/accounts/change_my_password',this.me)
                    .then(({data}) => {
                        this.$swal(
                            'Good Job!',
                            'Your password has been updated!',
                            'success'
                        );
                    })
                    .catch(({data}) => {
                        this.$swal(
                            'Oops!',
                            'Unable to change password!',
                            'error'
                        );
                    });
            }
        }
    }
</script>

<style scoped>

</style>