<template>
    <div class="col-md-12 mt-5">
        <form action="be_blocks_forms.html" method="POST">
            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Activate Order</h3>
                    <div class="block-options">
                        <button @click.prevent="submitForm" type="submit" class="btn btn-sm btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="row justify-content-center py-sm-3 py-md-5">
                        <div class="col-sm-10 col-md-8">
                            <div class="form-group">
                                <label for="order_code">Order Code</label>
                                <select v-model="form.order_code" class="form-control" id="order_code" name="order_code">
                                    <option disabled value="">Please select</option>
                                    <option v-bind:value="order.code" v-for="order in orders" :key="order.id" v-if="order.status != 'USED'">{{order.subject}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "TransferOrder",
        props: {
            // discountsData: {},
            ordersData: {},
        },
        data() {
            return {
                form: new Form({
                    promo_code: '',
                    order_code: ''
                }),
                // discounts: {},
                orders: {},
            }
        },
        mounted() {
            this.loadData();
        },
        methods: {
            loadData: function() {
                // this.discounts = JSON.parse(this.discountsData);
                this.orders = JSON.parse(this.ordersData);
            },
            submitForm: function() {

                if(this.form.order_code == "") {
                    this.$swal.fire(
                        'Oops!',
                        'Select the required fields!',
                        'error'
                    );
                    return;
                }

                if(this.form.order_code == '') {
                    this.$swal.fire(
                        'Oops!',
                        'Complete the required fields!',
                        'error'
                    )
                    return;
                }

                axios.post('/api/orders/activate',this.form)
                    .then(({ data }) => {
                        this.$swal.fire(
                            'Good Job!',
                            'Your order code has been activated!',
                            'success'
                        ).then(() => {
                            window.location.href = "/orders/activate"
                        });
                    })
                    .catch((d) => {
                        this.$swal.fire(
                            'Oops!',
                            'Unable to complete request!',
                            'error'
                        );
                    });
            }
        }
    }
</script>

<style scoped>

</style>