<template>
    <table class="table table-vcenter">
        <thead class="thead-light">
        <tr>
            <th class="d-none d-sm-table-cell">Description</th>
            <th class="d-none d-sm-table-cell text-center">Package</th>
            <th class="text-center">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="items.length < 1">
            <td colspan="3" class="text-center">No codes available</td>
        </tr>
        <tr v-for="transfer in items" v-if="transfer.data.to.user_id == userId || transfer.data.from.user_id == userId">
            <td v-if="transfer.data.to.user_id == userId" class="font-size-sm">You have received {{transfer.data.codes.quantity}} number of {{transfer.data.codes.quantity | checkQuantity}} from <strong>{{transfer.data.from.username}}</strong></td>
            <td v-if="transfer.data.from.user_id == userId" class="font-size-sm">You have sent {{transfer.data.codes.quantity}} number of {{transfer.data.codes.quantity | checkQuantity}} to <strong>{{transfer.data.to.username}}</strong></td>
            <!--<td v-if="transfer.data.to.user_id != userId" class="font-size-sm"></td>-->
            <!--<td v-if="transfer.data.from.user_id != userId" class="font-size-sm"></td>-->
            <td class="font-size-sm text-center">{{ transfer.data.codes.package_id | packageName }}</td>
            <td class="font-size-sm text-center">{{transfer.created_at | datePretty}}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            transfers: {},
            userId: null,
        },
        data() {
            return {
                items: {},
            }
        },
        mounted() {
            this.items = JSON.parse(this.transfers);
            console.log(this.items);
            console.log(this.userId);
        },
        filters: {
            packageName: function (value) {
                let package_name = "Starter Package";
                if(value == 2) package_name = "Builder Package"
                return package_name;
            },
            checkQuantity: function (value) {
                let label = "code";
                if(value > 1) label = "codes"
                return label;
            }
        }
    }
</script>

<style scoped>

</style>