<template>
    <form v-on:submit.prevent="submitForm">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">ACTIVATE ACCOUNT</h3>
                <div class="block-options">
                    <button @click.prevent="submitForm" type="submit" class="btn btn-sm btn-primary" v-if="codes.total > 0">
                        Activate Now
                    </button>
                    <!--<button type="reset" class="btn btn-sm btn-secondary">-->
                        <!--Reset-->
                    <!--</button>-->
                </div>
            </div>
            <div class="block-content">
                <div class="row justify-content-center py-sm-3 py-md-5">

                    <h3 v-if="codes.total < 1">Contact your sponsor to activate your account.</h3>

                    <div class="col-sm-10 col-md-4" v-if="codes.total > 0">

                        <div class="form-group">
                            <label>Select a package</label>
                            <div class="custom-control custom-radio custom-control-lg mb-1" v-if="codes.SP > 0">
                                <input v-model="form.package" type="radio" class="custom-control-input" id="example-rd-custom-lg1" name="package" value="1" checked="checked">
                                <label class="custom-control-label font-size-sm" for="example-rd-custom-lg1">Starter Package</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-lg mb-1" v-if="codes.BP > 0">
                                <input v-model="form.package" type="radio" class="custom-control-input" id="example-rd-custom-lg2" name="package" value="2">
                                <label class="custom-control-label font-size-sm" for="example-rd-custom-lg2">Builder Package</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-lg mb-1" v-if="codes.AP > 0">
                                <input v-model="form.package" type="radio" class="custom-control-input" id="example-rd-custom-lg3" name="package" value="3">
                                <label class="custom-control-label font-size-sm" for="example-rd-custom-lg3">Advance Package</label>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "Activate",
        props: {
            codesData: {}
        },
        data() {
            return {
                codes: {
                    SP: 0, BP: 0, AP: 0, total: 0
                },
                form: new Form({
                    package: '',
                })
            }
        },
        mounted() {
            this.initData();
        },
        methods: {
            initData: function() {
                this.codes = JSON.parse(this.codesData);
                console.log(this.codes);
            },
            submitForm() {

                axios.post('/api/accounts/activate',this.form)
                     .then(({data}) => {
                         this.$swal.fire(
                             'Good job!',
                             'Account details has been activated!!',
                             'success'
                         ).then(function() {
                             window.location.href = '/';
                         });

                     }).catch((e) => {
                        this.$swal.fire(
                            'Oops!',
                            'Unable to activate account!',
                            'error'
                        );
                     });
            }
        }
    }
</script>

<style scoped>

</style>