<template>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-vcenter">
            <thead>
            <tr>
                <th class="text-center" style="width: 100px;">
                    <i class="far fa-user"></i>
                </th>
                <th>Name</th>
                <th style="width: 30%;">Document</th>
                <th style="width: 15%;">Status</th>
                <th class="text-center" style="width: 100px;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in items">
                <td class="text-center">
                    <img class="img-avatar img-avatar48" v-bind:src="item.user.avatar">
                </td>
                <td class="font-w600 font-size-sm">
                    <a href="be_pages_generic_profile.html">{{ item.user.firstname }} {{ item.user.lastname }}</a>
                </td>
                <td class="font-size-sm"><a v-bind:href="item.path" target="_blank" >{{ item.description }}</a></td>
                <td>
                    <span v-if="item.status == 'PENDING'" class="badge badge-warning">{{ item.status }}</span>
                    <span  v-if="item.status == 'APPROVED'" class="badge badge-success">{{ item.status }}</span>
                    <span  v-if="item.status == 'DENIED'" class="badge badge-danger">{{ item.status }}</span>
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button v-on:click="() => { approveDocument(item.id) }" type="button" class="btn btn-sm btn-primary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Edit">
                            <i class="fa fa-check"></i>
                        </button>
                        <button v-on:click="() => { denyDocument(item.id) }" type="button" class="btn btn-sm btn-primary js-tooltip-enabled" data-toggle="tooltip" title="" data-original-title="Delete">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Documents",
        props: {
            documentsData: {},
            usersData: {}
        },
        data() {
            return {
                documents: {},
                items: {},
                searchForm: new Form({
                    search: ''
                })
            }
        },
        mounted() {
            this.parseData();
        },
        methods: {
            parseData: function() {
                this.items = JSON.parse(this.documentsData).data;
                this.documents = JSON.parse(this.documentsData);
                console.log(this.documents);
            },
            approveDocument: function(id) {

                axios.get('/api/documents/approve/'+id)
                    .then(({data}) => {
                        this.$swal('Good Job!',
                            'The document has been approved!',
                            'success')
                            .then(() => {
                                window.location.href = window.location.href;
                            });

                    })
                    .catch(({}) => {
                        this.$swal('Oops!',
                            'Unable to approve document!',
                            'error');
                    });

            },
            denyDocument: function(id) {

                axios.get('/api/documents/deny/'+id)
                    .then(({data}) => {
                        this.$swal('Good Job!',
                            'The document has been denied!',
                            'success')
                            .then(() => {
                                window.location.href = window.location.href;
                            });

                    })
                    .catch(({}) => {
                        this.$swal('Oops!',
                            'Unable to deny document!',
                            'error');
                    });

            },
        }
    }
</script>

<style scoped>

</style>